// variaveis de fonte 
$font-primary             ="Lucida Console", monospace, sans-serif;

// variaveis de cor 
$color-zero= #F2F2F2;
$color-dark= #212121;
$color-primary= #F76952;
$color-secondary= #279CAB;